/*font-size*/
$largest: 26px;
$large: 22px;
$big: 18px;
$medium: 15px;
$small: 14px;
$smallest: 13px;
$mini: 12px;

$font-main: Lato,Arial,Verdana,'Microsoft YaHei UI','Noto Sans SC', 'Microsoft JhengHei';

$pageW: 1140px;

/* color */
$color-main-ll: #cee6e9;
$color-main-l: #436381;
$color-main-m: #23486b;
$color-main-d: #1c3649;

$color-sub-ll: #93a8ab;
$color-sub-l: #9abdc2;
$color-sub-m: #40868f;
$color-sub-mm: #0290a0;
$color-sub-d: #2c737c;

$color-thr-m: #f4694a;
$color-thr-d: #e75e3f;

$color-g-llll: #f8f8f8;
$color-g-lll: #d7d7d7;
$color-g-ll: #9e9e9e;
$color-g-l: #949393;
$color-g-m: #555555;
$color-g-d: #353535;
$color-g-dd: #222222;


