@charset "UTF-8";
/*font-size*/
/* color */
@import url(https://fonts.font.im/css?family=Lato);
@import url(vender/style.css);
.fa-header .branding a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    height: 0;
    font-size: 0;
    visibility: hidden; }
  .clearfix:after {
    clear: both; }

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

address {
  font-style: normal; }

ul, ol {
  list-style: none; }

/*font 字型 --------------------*/
/*思源黑體*/
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*Lato*/
/*_frame 架構 --------------------*/
html, body {
  color: #949393;
  font-family: Lato, Arial, Verdana, "Microsoft YaHei UI", "Noto Sans SC", "Microsoft JhengHei";
  font-size: 14px;
  line-height: 1.4;
  background-color: #ffffff; }

body > form {
  width: 100%;
  height: 100%;
  overflow: hidden; }

a {
  color: #40868f;
  text-decoration: none; }

a:hover {
  color: #f4694a;
  text-decoration: underline;
  cursor: pointer; }

img {
  display: block; }

/*structure ------------*/
.fa-wrap {
  overflow-x: hidden;
  background-color: #ffffff;
  margin-top: 158px !important;
  height: calc(100% - 158px) !important; }

.fa-header {
  background: url(../img/bg_header.png) no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.fa-header .header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 30px 20px 30px; }

.fa-header .nav-main {
  /*position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;*/ }
  .fa-header .nav-main ul {
    /*max-width: 65%;
            overflow: hidden;*/ }

.fa-header .branding {
  position: relative;
  z-index: 100; }
  .fa-header .branding a {
    background: url(../img/logo_alive.png) no-repeat center center;
    width: 204px;
    height: 70px;
    margin: .1em .7em; }

.fa-content .content-con {
  width: 1140px;
  padding: 50px 30px;
  margin: 0 auto; }

.fa-footer {
  color: #d7d7d7;
  background-color: #436381;
  display: flex;
  justify-content: space-between; }

.fa-footer .copyright {
  font-size: 12px;
  line-height: 80px;
  height: 80px;
  padding: 0 30px; }
  .fa-footer .copyright a {
    color: #cee6e9; }
    .fa-footer .copyright a:hover {
      color: #fff;
      text-decoration: none; }

.fa-mobile {
  font-size: 15px;
  display: none; }

.fa-mobile a {
  color: #d7d7d7;
  display: block; }
  .fa-mobile a:hover {
    color: #40868f;
    text-decoration: none; }

.fa-mobile ul {
  margin: 1em; }

.fa-mobile li {
  padding: .5em 1em; }

.fa-mobile .lv2 {
  display: none; }

/*element ------------*/
/*search 搜寻*/
.search {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d6d5d6;
  position: relative;
  padding: 0.2em .6em 0.2em 1em;
  border-radius: 50px; }

.search > i {
  top: 4px !important; }

.search input[type=text] {
  color: #d7d7d7;
  background-color: transparent;
  width: 12em;
  padding: .5em .5em;
  border: none; }
  .search input[type=text]:focus {
    outline: none; }

/*path 路径*/
.path {
  font-size: 13px;
  margin-bottom: 2em; }

.path a {
  color: #7b7b7b; }
  .path a:last-child:after {
    display: none; }
  .path a:hover {
    color: #40868f;
    text-decoration: none; }
    .path a:hover:after {
      color: #555555; }
  .path a:after {
    font-size: 12px;
    content: ">";
    margin: 0 .5em; }
  .path a.active {
    color: #40868f; }

/* _forms 表單 --------------------*/
input, select, textarea {
  font-family: Lato, Arial, Verdana, "Microsoft YaHei UI", "Noto Sans SC", "Microsoft JhengHei"; }

[class^='forms-'] input, [class^='forms-'] select, [class^='forms-'] textarea {
  font-family: Lato, Arial, Verdana, "Microsoft YaHei UI", "Noto Sans SC", "Microsoft JhengHei"; }

.must {
  color: #40868f;
  font-weight: bold;
  margin-left: .2em; }

.forms-basic input, .forms-basic select, .forms-basic textarea {
  font-size: 14px;
  font-family: Lato, Arial, Verdana, "Microsoft YaHei UI", "Noto Sans SC", "Microsoft JhengHei";
  color: #555555;
  background-color: #fff;
  padding: .6em 1em;
  margin: 1px;
  border: 1px solid #dbdbdb;
  border-radius: 0; }
  .forms-basic input:focus, .forms-basic select:focus, .forms-basic textarea:focus {
    outline-color: #40868f; }

.forms-basic select {
  background: url(../../img/ico_dropdown.png) no-repeat right center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.forms-basic .inp-show {
  display: inline-block;
  padding: .35em .3em; }

.forms-basic dl {
  display: flex;
  flex-wrap: wrap; }
  .forms-basic dl.col2 {
    flex-wrap: nowrap; }

.forms-basic dt {
  display: flex;
  align-items: center;
  padding: .2em 1em;
  margin: .8em;
  flex: 0 0 7em; }

.forms-basic dd {
  display: flex;
  flex: 1 1 80%;
  margin: .8em; }
  .forms-basic dd input, .forms-basic dd textarea {
    flex: 1 1 auto; }
  .forms-basic dd input, .forms-basic dd textarea, .forms-basic dd select {
    margin-right: .4em; }

.inp-block {
  display: block;
  margin: .8em 0 !important;
  width: 100%; }

.inp-note {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  padding: .6em .2em;
  margin: 0 .3em; }

/*_nav 導覽列 -----------------------*/
.nav-main {
  font-size: 14px;
  letter-spacing: .05em;
  text-align: center;
  white-space: nowrap;
  background-color: #1c3649; }

.nav-main > ul {
  margin: 0 1em;
  display: inline-block; }

.nav-main > ul > li {
  display: inline-block;
  margin: 0 .1em;
  position: relative; }
  .nav-main > ul > li > a {
    color: #cee6e9;
    text-decoration: none;
    display: block;
    padding: 0.55em .6em;
    margin: 0 .5em;
    position: relative;
    border-bottom: 2px solid transparent; }
  .nav-main > ul > li > a:hover, .nav-main > ul > li > a.active {
    color: #fff; }

.nav-main .lv2 {
  background-color: rgba(35, 72, 107, 0.85);
  display: none;
  position: fixed;
  top: 157px;
  left: 0;
  right: 0; }

.nav-main .lv2 li {
  display: inline-block; }

.nav-main .lv2 a {
  color: #cee6e9;
  display: inline-block;
  padding: .4em 1em;
  text-decoration: none; }

.nav-main .lv2 a:hover {
  color: #fff; }

.nav-sub {
  font-size: 13px;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center; }
  .nav-sub a {
    color: #d7d7d7;
    display: inline-block;
    margin: 0 1em; }
    .nav-sub a:hover {
      color: #fff;
      text-decoration: none; }

.nav-self {
  font-size: 24px;
  height: 42px;
  padding: 5px 20px 5px 10px;
  display: flex;
  justify-content: space-between;
  /*position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;*/ }

.nav-self a {
  color: #9abdc2; }
  .nav-self a:hover {
    color: #fff; }

.nav-self i {
  display: inline-block;
  position: relative;
  top: 2px; }

/*_btn 按鈕 --------------------*/
[class^='btn-'] {
  font-family: Lato, Arial, Verdana, "Microsoft YaHei UI", "Noto Sans SC", "Microsoft JhengHei";
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin: 1px 4px;
  text-align: center; }
  [class^='btn-']:hover {
    text-decoration: none;
    cursor: pointer; }
  [class^='btn-']:focus, [class^='btn-']:active {
    border: none;
    outline: none; }

/*通用樣式*/
.btn-basic {
  background-color: #aaa;
  padding: .5em 2.5em;
  border-radius: 3px; }

.btn-active {
  color: #fff;
  background-color: #f4694a;
  padding: 1em 2.5em;
  border: none; }
  .btn-active:hover {
    color: #fff;
    background-color: #e75e3f; }

.btn-action {
  color: #fff;
  background-color: #40868f;
  padding: 1em 2.5em;
  border: none; }
  .btn-action:hover {
    color: #fff;
    background-color: #2c737c; }

.btn-block {
  display: block !important;
  margin: 0; }

.btn-self {
  color: #d6d5d6;
  height: 40px;
  line-height: 40px;
  width: 40px;
  margin: 0;
  position: relative; }

.btn-self:hover {
  color: #fff; }

.btn-self em {
  display: none; }

.btn-self .cart-count {
  background-color: #f4694a;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
  min-width: 1.3em;
  padding: 1px;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  right: -5px; }

.btn-addto {
  background-color: #40868f;
  line-height: 33px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 3px; }
  .btn-addto:before {
    content: "+";
    color: #fff;
    font-size: 26px;
    font-weight: bold; }
  .btn-addto:hover {
    background-color: #f4694a; }

.btn-closebox {
  color: #949393;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px; }

/*獨立樣式*/
.btn-cancel {
  background-color: transparent;
  width: 26px;
  height: 26px;
  position: relative;
  border: none; }
  .btn-cancel:hover {
    cursor: pointer; }
    .btn-cancel:hover:before {
      background-color: #40868f; }
    .btn-cancel:hover i {
      color: #ffffff; }
  .btn-cancel:before {
    content: "";
    background-color: #4c4b4c;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px; }
  .btn-cancel i {
    color: #949393;
    font-size: 11px;
    position: relative;
    top: 1px; }
  .btn-cancel span {
    display: none; }

.btn-category {
  color: #949393; }

.btn-category:after {
  content: "|";
  font-size: 12px;
  color: #d7d7d7;
  margin-left: 1.5em; }

.btn-category:hover {
  color: #353535;
  cursor: pointer; }
  .btn-category:hover i {
    color: #40868f; }

.btn-category i {
  margin: 0 .8em 0 .2em;
  position: relative;
  top: 1px; }

.btn-check {
  font-size: 20px;
  color: #a5a5a5;
  position: relative; }
  .btn-check:hover, .btn-check.active {
    color: #f4694a;
    cursor: pointer; }
  .btn-check input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }

.btn-delete {
  font-size: 18px;
  color: #a5a5a5; }
  .btn-delete:hover {
    color: #f4694a;
    cursor: pointer; }

.btn-count {
  font-size: 20px;
  display: inline-block;
  line-height: 1.5em;
  width: 1.2em; }

.btn-search {
  color: #9abdc2;
  font-size: 19px;
  background-color: transparent;
  padding: 1px 4px;
  margin: 0;
  border: none; }

.btn-search:focus {
  outline: none;
  border: none; }

.btn-search:hover {
  color: #fff; }

.btn-search span {
  display: none; }

/*banner ------------------------*/
.banner-slide {
  position: relative; }

.banner-slide:after {
  content: "";
  width: 100%;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: .7;
  background: #535353;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000));
  background: -webkit-linear-gradient(top, transparent, #000000);
  background: -moz-linear-gradient(top, transparent, #000000);
  background: -ms-linear-gradient(top, transparent, #000000);
  background: -o-linear-gradient(top, transparent, #000000);
  background: linear-gradient(top bottom, transparent, #000000); }

.banner-slide .slick-dots {
  bottom: 2.5em;
  z-index: 50; }

.banner-slide .slick-ban {
  background-position: center center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.banner-cover {
  height: 600px; }
  .banner-cover .slick-ban {
    height: 600px; }
  .banner-cover._lvSec {
    height: 440px; }
    .banner-cover._lvSec .slick-ban {
      height: 440px; }
  .banner-cover._lvThr {
    height: 210px; }
    .banner-cover._lvThr .slick-ban {
      height: 210px; }
    .banner-cover._lvThr .slick-dots {
      opacity: 0; }

.banner-prod {
  display: flex;
  align-items: stretch; }

.banner-prod li {
  flex: 1 1 50%;
  padding: 0 15px; }

.banner-prod .prod-ban {
  background: no-repeat center bottom;
  background-size: auto 100%;
  display: flex;
  height: 100%; }

.banner-prod .prod-ban.ban1 {
  background-image: url(../img/bg_ban1.png); }

.banner-prod .prod-ban.ban2 {
  background-image: url(../img/bg_ban2.png); }

.banner-prod .prod-ban figure {
  flex: 0 1 45%; }

.banner-prod .prod-ban img {
  display: block;
  max-width: 100%; }

.banner-prod .ban-info {
  text-align: left;
  flex: 1 1 auto;
  padding: 3rem .5rem 2rem 2rem; }

.banner-prod .ban-info h3 {
  color: #353535;
  font-family: Helvetica,Arial;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1;
  max-height: 2.2em;
  overflow: hidden;
  margin-bottom: .5rem; }

.banner-prod .ban-detial {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 1rem; }

.banner-prod .ban-price {
  color: #0290a0;
  font-size: 22px;
  font-weight: 600; }

.banner-prod .ban-price:before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: .8em;
  height: 1em;
  background: url(../img/ico_cgpBan.png) no-repeat center bottom;
  background-size: contain;
  margin-right: .2em; }

/*_list 列表樣式 ----------------------*/
.list-prod {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }

.list-prod li {
  flex: 0 1 25%; }

.list-prod .prod {
  background-color: #fff;
  margin: 15px;
  height: calc(100% - 20px);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); }
  .list-prod .prod a {
    color: #1c3649; }
    .list-prod .prod a:hover {
      color: #40868f;
      text-decoration: none; }

.list-prod .prod-photo {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 100%; }

.list-prod .prod-info {
  text-align: left;
  position: relative;
  padding: 1.5rem; }

.list-prod .prod-cate {
  color: #93a8ab;
  font-size: 13px;
  margin-bottom: .8em; }
  .list-prod .prod-cate:after {
    content: "_";
    margin-left: .5em; }

.list-prod .prod-name {
  color: #1c3649;
  font-size: 15px;
  font-weight: 550;
  display: inline-block;
  margin-bottom: .2em; }

.list-prod .prod-intro {
  color: #949393; }

.list-prod .prod-price {
  color: #949393;
  font-size: 15px;
  margin: .5em 0;
  line-height: 25px; }
  .list-prod .prod-price span {
    margin-right: .5em;
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: left center; }

.list-prod .price-orignal {
  background-image: url(../../img/ico_cgpOrignal.png);
  text-decoration: line-through; }

.list-prod .price-discount {
  color: #f4694a;
  font-size: 18px;
  font-weight: 600;
  background-image: url(../../img/ico_cgpDiscount.png); }

.list-prod .price-count {
  color: #353535;
  background-image: url(../../img/ico_cgpCount.png); }

.list-prod .btn-addto {
  position: absolute;
  top: -1.7rem;
  right: .5rem; }

.list-related {
  display: flex;
  flex-wrap: wrap; }

.list-related li {
  flex: 0 1 16.5%; }

.list-related .prod {
  background-color: #fff;
  margin: 5px; }
  .list-related .prod a {
    color: #353535; }
    .list-related .prod a:hover {
      color: #23486b;
      text-decoration: none; }

.list-related .prod-photo {
  background-color: #efefef;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 100%; }

.list-related .prod-info {
  text-align: left;
  position: relative;
  padding: .8rem 1rem; }

.list-related .prod-name {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: .1em; }

.list-related .prod-price {
  color: #949393;
  font-size: 15px;
  margin: .5em 0 0 0; }
  .list-related .prod-price span {
    margin-right: .5em;
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: left center; }

.list-related .price-orignal {
  background-image: url(../../img/ico_cgpOrignal.png);
  text-decoration: line-through; }

.list-related .price-discount {
  color: #f4694a;
  font-weight: 600;
  background-image: url(../../img/ico_cgpDiscount.png); }

.list-related .price-count {
  color: #353535;
  background-image: url(../../img/ico_cgpCount.png); }

.list-popular {
  flex-wrap: wrap; }

.list-popular li {
  flex-basis: 50%; }

.list-popular .prod {
  display: flex; }

.list-popular .prod-photo {
  width: 220px;
  padding-top: 220px; }

.list-popular .prod-info {
  flex: 1 1 auto;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem; }

.list-popular .prod-intro {
  height: 5.6em; }

.list-popular .prod-price {
  margin-bottom: 0; }

.list-popular .btn-addto {
  top: auto;
  left: -3.6rem;
  bottom: 1.4rem; }

/*_menu ---------------------*/
.menu-category {
  display: flex;
  align-items: center; }

.menu-category a {
  color: #555555;
  display: inline-block;
  text-align: center;
  min-width: 4em;
  padding: 0 .6em; }

.menu-category a:hover, .menu-category a.active {
  color: #222222;
  text-decoration: none; }
  .menu-category a:hover em, .menu-category a.active em {
    display: inline-block;
    min-width: 4em; }
    .menu-category a:hover em:after, .menu-category a.active em:after {
      border-color: #40868f; }

.menu-category a.active {
  color: #1c3649; }
  .menu-category a.active em {
    font-weight: 600; }
    .menu-category a.active em:after {
      border-color: #1c3649; }

.menu-category a span {
  color: #949393;
  font-size: 12px;
  margin-left: .3em;
  position: relative;
  top: -.5em; }

.menu-category a em {
  font-style: normal;
  display: inline-block;
  position: relative;
  padding: .7em 0em; }

.menu-category a em:after {
  content: "";
  width: 2em;
  margin: 0 auto;
  border-bottom: 4px solid #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/*_tab 表格 --------------------*/
.tab-basic {
  color: #555555;
  font-size: 15px;
  width: 100%;
  max-width: 100%; }

.tab-basic th {
  color: #555555;
  background-color: #f3f3f3;
  vertical-align: middle;
  padding: .5em 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

.tab-basic td {
  background-color: #f8f8f8;
  vertical-align: middle;
  padding: .5em 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

.tab-basic .td-check {
  text-align: center;
  width: 2em;
  vertical-align: middle; }

.tab-basic .td-prod {
  text-align: left;
  padding: .5em 1em; }
  .tab-basic .td-prod option {
    max-width: 100%; }

.tab-basic .td-photo {
  width: 80px;
  float: left;
  margin-right: 1.5em; }

.tab-basic .td-name {
  color: #353535;
  padding: .5em;
  margin: .1em; }

.tab-basic .td-price {
  font-size: 15px;
  width: 5em;
  text-align: center; }

.tab-basic .td-price span:before {
  content: "";
  background: url(../img/ico_cgpCount.png) no-repeat center center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 3px;
  position: relative;
  top: 2px; }

.tab-basic .td-trans {
  text-align: center; }

.tab-basic .td-count {
  width: 4em; }
  .tab-basic .td-count .count-bar {
    font-size: 18px;
    display: flex;
    border: 1px solid #dbdbdb; }
    .tab-basic .td-count .count-bar input {
      text-align: center;
      width: 1.5em;
      padding: .5em .2em;
      border: none;
      flex: 1 1 auto; }

.tab-basic .td-action {
  text-align: center;
  width: 3em; }

.tab-total {
  color: #555555;
  font-size: 15px;
  text-align: right;
  background-color: #f3f3f3;
  width: 100%; }
  .tab-total th {
    color: #353535;
    font-size: 15px;
    font-weight: 500; }
  .tab-total td {
    padding: .8em 0em; }
  .tab-total .td-item {
    display: inline-block;
    width: 4em; }
  .tab-total .td-coupon input {
    margin-right: .5em; }
  .tab-total .td-coupon button {
    padding: .69em 2em; }
  .tab-total .td-price {
    color: #555555;
    font-family: Arial,Verdana,'Times New Roman';
    font-size: 15px;
    font-weight: 600;
    width: 5em; }
    .tab-total .td-price:before {
      content: "$"; }
  .tab-total .td-discount {
    color: #f4694a; }
  .tab-total .td-total {
    color: #40868f;
    font-size: 20px;
    font-weight: bold; }

.tab-cart td:before {
  content: attr(data-th); }

.td-left {
  text-align: left; }

/*_filter ------------------------*/
.filter {
  color: #7b7b7b;
  text-align: left;
  padding-bottom: 8px;
  margin: 0 15px 2em 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2; }

.filter-menu {
  display: flex;
  align-items: center;
  width: calc( 100% - 10em);
  overflow: hidden; }
  .filter-menu .btn-category {
    flex: 0 0 auto; }

.filter-rank a {
  color: #555555;
  padding: 0.7em .6em;
  display: inline-block; }

.filter-rank a:hover, .filter-rank a.active {
  color: #353535;
  text-decoration: none; }
  .filter-rank a:hover i, .filter-rank a.active i {
    color: #0290a0; }

.filter-rank a i {
  margin: 0 .2em; }

.filter-category {
  background-color: #f4f6f7;
  display: none;
  padding: 2em 2.8em;
  flex: 1 1 100%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }

.filter-category ul {
  display: flex;
  flex-wrap: wrap; }

.filter-category li {
  flex: 0 1 20%;
  margin: .2em 0; }

.filter-category a {
  color: #949393; }

.filter-category a:hover, .filter-category a.active {
  color: #40868f;
  text-decoration: none; }

.filter-category a.active {
  color: #1c3649;
  font-weight: 600; }

/*_pager -----------------------*/
.pager {
  font-size: 13px;
  color: #9e9e9e;
  text-align: center;
  margin: 30px 0 10px 0; }
  .pager span {
    background-color: #40868f;
    color: #fff;
    display: inline-block;
    line-height: 32px;
    min-width: 32px;
    height: 32px;
    margin: 0 .4em;
    border: 1px solid #40868f;
    border-radius: 3px; }
  .pager a {
    background-color: #f8f8f8;
    color: #9e9e9e;
    display: inline-block;
    line-height: 32px;
    min-width: 32px;
    height: 32px;
    margin: 0 .4em;
    border: 1px solid #f8f8f8;
    border-radius: 3px; }
    .pager a:hover {
      color: #353535;
      border-color: #40868f;
      text-decoration: none; }

/* _page --------------------*/
.page .page-tit {
  text-align: center;
  position: relative;
  margin: 0 0 2em 0; }

.page .page-tit > em {
  color: #353535;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: .2em 5em;
  position: relative;
  z-index: 50; }

.page .page-tit span {
  color: #949393;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  z-index: 60; }

.page .page-tit .count {
  color: #40868f;
  font-style: normal;
  margin-left: .5em;
  display: inline; }
  .page .page-tit .count:before {
    content: "("; }
  .page .page-tit .count:after {
    content: ")"; }

.page h3 {
  text-align: center;
  position: relative;
  margin: 2em 0; }

.page h3 em {
  color: #353535;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #fff;
  display: inline-block;
  padding: .2em 5em;
  position: relative;
  z-index: 50; }

.page h3:after {
  background-color: #ebebeb;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10; }

/*_index 首頁內容 ----------------------*/
.index {
  text-align: center; }

.index .banner-prod {
  margin-bottom: 4em; }

.index .products {
  margin-bottom: 5rem; }

.index-tit {
  font-size: 26px;
  font-weight: normal; }

.index-ill {
  background: url(../img/ill_index_gift.png) no-repeat center top;
  height: 345px;
  margin: 30px 0; }

.index-btn {
  margin: 40px 0; }

/*recommend 推荐 ----------*/
.recommend {
  background: url(../img/bg_recommend.png) no-repeat 0 0;
  background-size: cover;
  display: flex;
  margin: 0 15px 3rem 15px; }

.recommend .recommend-ban {
  background: url(../img/ill_banRecommend.png) no-repeat right center;
  background-size: auto 100%;
  flex: 0 1 50%; }

.recommend .recommend-detial {
  padding: 2rem 3rem 1rem 3rem; }

.recommend .recommend-title {
  color: #5b5a5a;
  text-align: left;
  position: relative; }

.recommend .recommend-title:before {
  content: "";
  height: 1.2rem;
  border-left: 3px solid #f4694a;
  position: absolute;
  top: 1.5rem;
  left: -2rem; }

.recommend .recommend-title span {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  display: block; }

.recommend .recommend-title em {
  font-family: Helvetica,Arial;
  font-size: 36px;
  font-weight: 600;
  font-style: normal; }

.recommend .list-prod {
  margin: 0 -10px; }

.recommend .list-prod li {
  flex-basis: 50%; }

.recommend .list-prod .prod {
  margin: 10px 10px; }

.recommend .list-prod .prod-info {
  padding-bottom: .5rem; }

.recommend .list-prod .prod .btn-addto {
  display: none; }

/*related 相关 ----------*/
.popular header {
  border-bottom: 1px solid #e2e2e2;
  margin: 0 15px 2rem 15px; }

.popular .popular-tit {
  color: #1c3649;
  font-weight: 500;
  text-align: left; }

.popular .popular-tit span {
  display: inline-block;
  padding: .5em 1.2em;
  border-bottom: 3px solid #1c3649; }

.popular .list-popular {
  margin-bottom: 0; }

.popular .slick-dots {
  text-align: right;
  width: 50%;
  top: -4.5rem;
  right: 15px;
  bottom: auto; }
  .popular .slick-dots li {
    margin: 0 1px; }
  .popular .slick-dots li button:before {
    font-size: 12px;
    color: #949393; }
  .popular .slick-dots li.slick-active button:before {
    color: #1c3649; }

/* product 产品-------------------------------*/
.product {
  display: flex;
  flex-wrap: wrap; }

.product-photo {
  flex: 0 1 52%;
  display: flex;
  align-items: flex-start; }
  .product-photo .photo-menu {
    width: 65px;
    margin-right: 10px; }
  .product-photo .photo-menu li {
    border: 1px solid #f8f8f8;
    margin-bottom: 5px; }
  .product-photo .photo-menu li:hover, .product-photo .photo-menu li.active {
    border-color: #40868f;
    cursor: pointer; }
  .product-photo .photo-menu li img {
    display: block;
    min-width: 100%;
    max-width: 100%; }
  .product-photo .photo-view {
    background-color: #fff;
    flex: 1 1 auto;
    width: 100%; }
    .product-photo .photo-view img {
      display: block;
      min-width: 100%;
      max-width: 100%; }

.product-info {
  flex: 1 1 48%;
  margin-bottom: 3rem; }
  .product-info .info-con {
    margin-left: 3em; }
    .product-info .info-con h4 {
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 1em; }
  .product-info .info-category {
    line-height: 1.1;
    margin-bottom: 1em;
    position: relative; }
    .product-info .info-category:before {
      content: "";
      background-color: #40868f;
      width: 3px;
      height: 1em;
      position: absolute;
      left: -.8em;
      top: 1px; }
  .product-info .info-tit {
    color: #353535;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: .5em; }
  .product-info .info-intro {
    font-size: 13px;
    margin-bottom: 3rem; }
  .product-info .info-price {
    margin-bottom: 3rem; }
  .product-info .info-price span {
    font-size: 18px;
    font-weight: 500;
    margin-right: .5em;
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: left center; }
  .product-info .info-price .price-orignal {
    background-image: url(../../img/ico_cgpOrignal.png);
    text-decoration: line-through; }
  .product-info .info-price .price-discount {
    color: #f4694a;
    font-size: 22px;
    background-image: url(../../img/ico_cgpDiscountB.png); }
  .product-info .info-price .price-count {
    color: #353535;
    background-image: url(../../img/ico_cgpCount.png); }
  .product-info .info-spec {
    margin-bottom: 3rem; }
    .product-info .info-spec select {
      padding: 1em;
      padding-right: 2.5em; }
    .product-info .info-spec select, .product-info .info-spec option {
      width: 100%;
      word-wrap: break-word;
      text-overflow: inherit;
      white-space: normal; }
  .product-info .info-action {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
    .product-info .info-action button {
      font-size: 15px;
      flex: 1 1 45%; }
      .product-info .info-action button:first-child {
        margin-right: .8em; }
      .product-info .info-action button:hover {
        cursor: pointer; }

.product-intro {
  flex: 1 1 100%; }

.product-intro img {
  display: block;
  margin: 1rem auto;
  max-width: 100%; }

.product-intro p {
  margin-bottom: 1em; }

.product-related {
  flex: 1 1 100%; }

/*_cart 购物车----------------------*/
.cart-recipient {
  background-color: #fcfcfc;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 3em;
  margin-bottom: 3em; }

.cart-total {
  background-color: #f3f3f3;
  padding: 1em 2.5em;
  border-bottom: 1px solid #ebebeb; }

.cart-action {
  text-align: right;
  margin: 2em 0; }
  .cart-action .btn-action {
    padding-left: 6em;
    padding-right: 6em; }

/*_checkout -----------------------*/
.checkout-report {
  color: #555555;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 25em;
  max-width: 100%;
  margin: 0 auto;
  padding: 3em; }

.checkout-report dl {
  display: flex;
  flex-wrap: wrap; }

.checkout-report dt {
  text-align: right;
  width: 7em;
  margin: .5em 2em .5em 0; }

.checkout-report dd {
  flex: 1 1 52%;
  margin: .5em 0; }

.checkout-register .register-tit {
  color: #353535;
  font-size: 26px;
  font-weight: 500;
  text-align: center; }

.checkout-action {
  display: flex;
  justify-content: space-between;
  width: 34em;
  margin: 3rem auto 0 auto; }
  .checkout-action a {
    font-size: 15px;
    flex: 1 1 45%; }
    .checkout-action a:first-child {
      margin-right: .8em; }
    .checkout-action a:hover {
      cursor: pointer; }

/*_inquire --------------------*/
.inquire-form {
  width: 24em;
  margin: 0 auto; }
  .inquire-form input {
    width: calc( 100% - 2.4em);
    margin-bottom: 1em;
    padding: 1em; }
  .inquire-form .btn-active {
    display: block; }

/*_order ------------------------*/
.order .status-processing {
  color: #40868f; }

.order .status-solved {
  color: #f4694a; }

.order-list {
  width: 35em;
  max-width: 95%;
  margin: 0 auto; }
  .order-list td {
    padding: 1em; }
  .order-list .td-status {
    text-align: center;
    width: 5em; }

.order-detial {
  color: #555555;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 25em;
  max-width: 100%;
  margin: 0 auto;
  padding: 3em; }

.order-detial dl {
  display: flex;
  flex-wrap: wrap; }

.order-detial dt {
  text-align: right;
  width: 7em;
  margin: .5em 2em .5em 0; }

.order-detial dd {
  flex: 1 1 52%;
  margin: .5em 0; }

.order-action {
  display: flex;
  justify-content: space-between;
  width: 34em;
  margin: 3rem auto 0 auto; }
  .order-action a {
    font-size: 15px;
    flex: 1 1 45%; }
    .order-action a:first-child {
      margin-right: .8em; }
    .order-action a:hover {
      cursor: pointer; }

/*_lightbox ----------------------*/
.lightbox {
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  padding: 3rem; }
  .lightbox h3 {
    color: #353535;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1em; }
  .lightbox p {
    margin-bottom: 1em; }
  .lightbox .btnarea {
    margin: 2em 1em 0em 1em; }

/*_media 裝置切換 --------------------------*/
/* lg>1200 md<1200 sm<768 xs<480 */
/* lg 大螢幕 */
@media (min-width: 1200px) {
  .lg-show {
    display: block; }
  .lg-showin {
    display: inline-block; }
  .lg-hide {
    display: none; }
  #search-open {
    display: none; } }

/* md 電腦 */
@media (max-width: 1200px) {
  .md-show {
    display: block; }
  .md-showin {
    display: inline-block; }
  .md-hide {
    display: none; }
  /*structure ---------------------*/
  .fa-header .header-bar {
    width: calc( 100% - 60px); }
  .fa-content .content-con {
    width: calc( 100% - 60px); }
  .notice > div {
    width: calc( 100% - 60px); }
  .special-con {
    width: calc( 100% - 60px); }
  #search-open {
    display: none; }
  /* _index ------*/
  .recommend .recommend-detial {
    flex: 1 1 auto; } }

/* sm 平板 */
@media (max-width: 768px) {
  .sm-show {
    display: inline-block; }
  .sm-showin {
    display: inline-block; }
  .sm-hide {
    display: none; }
  /*strature --------------------*/
  .fa-wrap {
    margin-top: 120px !important;
    height: calc(100% - 120px) !important; }
  .fa-header .header-bar {
    z-index: 1000; }
  .fa-header .nav-main {
    display: none; }
  .fa-header .search {
    display: none; }
  .fa-header .nav-self {
    z-index: 500; }
  .fa-header .branding {
    /*float: none;
            text-align: left;
            position: fixed;
            top: 5px;
            left: 0;
            right: 0;
            margin: 0 auto;*/ }
    .fa-header .branding a {
      background-size: contain;
      margin: 0 auto 0 0;
      width: 200px;
      height: 70px; }
  #search-open {
    display: inline-block; }
  .fa-content .content-con {
    padding: 30px 10px; }
  .notice {
    line-height: 40px;
    height: 40px; }
  .special {
    padding: 30px 0; }
  /*basic ----------*/
  .page .page-tit > em {
    padding: 0 .3em; }
  .forms-basic dl.col2 {
    flex-wrap: wrap; }
  .forms-basic dt {
    margin: 0;
    padding: 0; }
  .forms-basic dd {
    margin-bottom: 1.8em; }
  .list-special li {
    padding: 0 10px; }
  .list-special li figure {
    padding-top: 50px; }
  .list-special h4 {
    font-size: 17px; }
  .list-prod li {
    flex-basis: 33%; }
  .list-prod .prod {
    margin: 5px; }
  .list-prod .prod-info {
    padding: 1em; }
  .list-related li {
    flex-basis: 33%; }
  .list-popular {
    margin: 0 10px; }
  .list-popular li {
    flex-basis: 50%; }
  /* _banner ------*/
  .banner-cover {
    height: 350px; }
    .banner-cover .slick-ban {
      height: 350px; }
    .banner-cover._lvSec {
      height: 300px; }
      .banner-cover._lvSec .slick-ban {
        height: 300px; }
    .banner-cover._lvThr .slick-dots {
      bottom: .5em;
      opacity: 1; }
  .banner-slide._lvThr:after {
    height: 35px;
    opacity: .4; }
  .banner-slide .slick-dots {
    bottom: 1.5em; }
    .banner-slide .slick-dots li button:before {
      font-size: 10px; }
  .banner-prod .prod-ban {
    flex-wrap: wrap;
    justify-content: flex-end; }
  .banner-prod .prod-ban figure {
    order: 1;
    flex-basis: 70%; }
  .banner-prod .ban-info {
    padding: 0rem 2rem 1rem 2rem;
    order: 2; }
    .banner-prod .ban-info h3 {
      font-size: 28px; }
  .banner-prod .ban-detial {
    font-size: 15px; }
  .btn-active, .btn-action {
    padding: 1em; }
  .btn-addto {
    width: 33px;
    height: 33px;
    line-height: 33px; }
    .btn-addto:before {
      font-size: 20px; }
  .tab-basic td {
    padding: .5em .2em; }
  .tab-basic .td-check {
    width: .5em;
    padding: .5em .2em; }
  .tab-basic .td-photo {
    margin-right: .5em;
    margin-bottom: .5em; }
  .tab-basic .td-name {
    padding: 0; }
  .tab-basic .td-prod {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5em .2em; }
    .tab-basic .td-prod option {
      width: 100%; }
  .tab-basic .td-action {
    padding: .5em .2em; }
  .search {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    position: fixed;
    padding: 1em .5em .5em .5em;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1200;
    border-radius: 0; }
  .search-form input[type=text] {
    width: calc( 100% - 90px); }
  /*com --------------------*/
  /*_index -------*/
  .recommend {
    flex-wrap: wrap; }
  .recommend .recommend-ban {
    background-size: cover;
    padding-top: 45%;
    flex-basis: 100%; }
  /*_page -------*/
  .page .page-tit {
    margin-bottom: 3em; }
  .filter-category li {
    flex-basis: 25%; } }

@media (max-width: 690px) {
  /*strature --------------------*/
  .fa-footer {
    flex-wrap: wrap;
    padding-top: 1.5em;
    padding-bottom: .5em; }
  .fa-footer section {
    text-align: center;
    flex-basis: 100%; }
  .fa-footer section:nth-of-type(1) {
    order: 2; }
  .fa-footer section:nth-of-type(2) {
    order: 1; }
  .fa-footer .copyright {
    height: 40px;
    line-height: 40px; }
  .fa-footer .nav-sub {
    justify-content: center; }
  /*basic -------------------*/
  .list-popular li {
    flex-basis: 100%; }
  /*com --------------------*/
  .product-photo {
    flex: 1 1 auto;
    margin-bottom: 3rem; }
  .product-info .info-con {
    margin-left: 0; }
  .product-info .info-category {
    margin-left: 1em; } }

/* xs 手機 */
@media (max-width: 500px) {
  .xs-show {
    display: inline-block; }
  .xs-showin {
    display: inline-block; }
  .xs-hide {
    display: none; }
  /*strature --------------------*/
  .fa-wrap {
    margin-top: 90px !important;
    height: calc(100% - 90px) !important; }
  .fa-header .header-bar {
    width: calc( 100% - 20px);
    padding: 15px 10px 15px 10px; }
  .fa-header .branding a {
    width: 150px;
    height: 60px; }
  .search {
    top: 90px; }
  .fa-content .content-con {
    width: calc( 100% - 20px);
    padding: 30px 10px; }
  .notice > div {
    width: calc( 100% - 20px); }
  .special-con {
    width: calc( 100% - 20px); }
  .fa-header .nav-self {
    padding: 5px; }
  .fa-header .btn-self {
    width: 34px; }
  /*basic --------------------*/
  .list-special {
    flex-wrap: wrap; }
  .list-special li {
    flex: 0 1 calc(50% - 2px);
    border: none;
    padding: 0;
    margin-bottom: 1.5em; }
  .list-special h4 {
    font-size: 15px;
    margin: .5em 0; }
  .list-special p {
    font-size: 12px; }
  .list-prod li {
    flex-basis: 50%; }
  .list-prod .price-discount {
    font-size: 16px; }
  .list-prod .prod-name {
    font-size: 13px;
    margin-bottom: .3em; }
  .list-prod .prod-intro {
    font-size: 12px; }
  .list-prod .prod-price {
    font-size: 13px; }
  .list-related li {
    flex-basis: 50%; }
  .list-popular li {
    flex-basis: 100%; }
  .banner-cover {
    height: 350px; }
    .banner-cover .slick-ban {
      height: 350px; }
  .banner-prod {
    flex-wrap: wrap; }
  .banner-prod li {
    flex: 1 1 100%;
    margin-bottom: 1rem; }
  .banner-prod .prod-ban {
    flex-wrap: nowrap; }
  .banner-prod .prod-ban figure {
    order: 2;
    flex-basis: 40%; }
  .banner-prod .ban-info {
    order: 1;
    padding: 2rem .5rem 1rem 1.5rem; }
  .forms-basic dd {
    flex-wrap: wrap; }
  .tab-cart {
    border-top: 1px solid #dddddd; }
  .tab-cart thead {
    display: none; }
  .tab-cart tr {
    display: flex;
    flex-wrap: wrap;
    padding: .5em 0;
    border-bottom: 1px solid #dddddd; }
  .tab-cart td {
    display: block;
    padding: .1em;
    border: none; }
    .tab-cart td:before {
      color: #222222;
      font-weight: 600;
      display: block;
      text-align: center; }
  .tab-cart .td-name {
    width: 7em;
    margin-right: 1em; }
  .tab-cart .td-check {
    width: auto;
    padding: .2em 0em .2em 0;
    margin-right: .2em; }
  .tab-cart .td-count {
    flex: 1 1 auto; }
  .tab-total .td-coupon input {
    width: 7em;
    margin-right: 3px; }
  .tab-total .td-coupon button {
    padding: .69em .5em; }
  .tab-total .td-price {
    width: 4em; }
  /*com --------------------*/
  /*_index -----*/
  .index .banner-prod, .index .products {
    margin-bottom: 2rem; }
  .recommend .recommend-title em {
    font-size: 28px; }
  .recommend .list-prod li {
    flex-basis: 100%; }
  .recommend .list-prod .prod {
    display: flex; }
  .recommend .list-prod .prod-photo {
    background-position: center center;
    background-size: contain;
    padding-top: 50%;
    flex: 0 1 50%; }
  .filter {
    margin-bottom: 1em; }
  .filter-category {
    padding: .5em; }
  .filter-category li {
    flex-basis: 50%; }
  .cart-action .btn-action {
    display: block; }
  .cart-total {
    padding: .5em 1em 0em 0em; }
  .checkout-report {
    padding: .5em 0; }
    .checkout-report dl {
      margin: .5em; }
  .checkout-action {
    margin-top: 1.5rem;
    width: 100%; }
  .order-detial {
    padding: .5em 0; }
    .order-detial dl {
      margin: .5em; } }
