@page
@model AliveStoreTemplate.Pages.cartModel
@{
    ViewData["Title"] = "cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section HEAD{
    <style>
        .ico_cgpCount {
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(/img/ico_cgpCount.png);
            padding-left: 1em;
        }

        .ico_cgpTotal {
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(/img/ico_cgpBan.png);
            padding-left: 1em;
        }

        .td-price:before {
            content: "" !important;
        }
    </style>
}


@*cart 购物车*@
<article class="page cart">
    <div class="content-con">
        <h2 class="page-tit"><em>購物車</em><span>選購商品<em class="count spancc">3</em></span></h2>
        @*cart-recipient 收件资料*@
        <section class="forms-basic cart-recipient">
            <dl class="col2">
                <dt>收件人<em class="must">*</em></dt>
                <dd>
                    <input type="text" value="" id="inputRecipient" placeholder="请填入收件人姓名" />
                </dd>
                <dt>收件人手机号<em class="must">*</em></dt>
                <dd>
                    <input type="tel" value="" id="inputRecipientPhone" placeholder="请填入收件人手机号" />
                </dd>
            </dl>
            <dl>
                <dt>收件人地址<em class="must">*</em></dt>
                <dd>
                    @*<div id="post" class="citys">*@
                        @*收件人地址選擇*@
                        <div id="twzipcode"></div>
                        @*<select class="ui dropdown" style="min-width:80px" name="province" onchange="GetCityList()" id="province">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="city" onchange="GetCountryList()" id="city">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="area" onchange="GetTownList()" id="area">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="town" onchange="BuildAddr()" id="town">
                            <option value="">請選擇</option>
                        </select>*@
                        @*<input class="form-control" type="text" id="addr" />*@
                        <input class="" type="text" value="" id="inputRecipientAddr" placeholder="請填入地址" />
                    @*</div>*@
                </dd>
                <dt>备注</dt>
                <dd>
                    <textarea name="" id="areaRemark" cols="0" rows="3" style="resize:none;height:200px"></textarea>
                </dd>
            </dl>
        </section>
        @*cart-order 订单资料*@
        <section class="cart-order">
            <table class="forms-basic tab-basic tab-cart">
                <thead>
                    <tr>
                        <th class="td-check">
                            <a class="btn-check">
                                <input id="clickAll" type="checkbox" /><i class="icon-check"></i>
                            </a>
                        </th>
                        <th class="td-prod">商品</th>
                        <th>單價</th>
                        <th class="td-count">數量</th>
                        <th>小計</th>
                        <th class="td-action">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbOrder">
                    
                </tbody>
            </table>
        </section>
        @*cart-total 总计*@
        <section class="cart-total">
            <table class="forms-basic tab-total">
                
                <tr>
                    <th>
                        <span class="td-item">总计</span>
                    </th>
                    <td class="td-total td-price">
                        <span class="ico_cgpTotal td-total" id="lbTPrice"></span>
                    </td>
                </tr>
            </table>
        </section>
        <section class="cart-action">
            <div style="color:red" id="noticeForPay">注意:你现在所见的币值不代表最终币值，请详细确认后再行下单；若欲使用CGP币以外货币结帐，总价须超过一定金额：</div>
            <select class="ui dropdown floating" style="width:250px" id="selectPayment" >
                <option value="" style="display:none">請選擇付款方式</option>
                <option value="CGP">CGP</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="SHIB" disabled>SHIB</option>
            </select>
        </section>
        @*<div class="ui teal buttons">
            <div class="ui button">請選擇付款方式</div>
            <div class="ui floating dropdown icon button" id="selectPayment" >
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="CGP"><i class="edit icon"></i>CGP</div>
                    <div class="item" data-value="BTC"><i class="edit icon"></i>BTC</div>
                    <div class="item" data-value="ETH"><i class="edit icon"></i>ETH</div>
                    <div class="item" data-value="USDT"><i class="edit icon"></i>USDT</div>
                    <div class="item" data-value="SHIB" disabled><i class="edit icon"></i>SHIB</div>
                </div>
            </div>
        </div>*@
        <section class="cart-action">
            <a class="btn-action" onclick="PlaceOrder()">我要结算</a>
        </section>
    </div>
</article>


@section FOOTER{

    @*pgaeJs*@
    <script type="text/javascript">
        $(function () {
            // 全选
            $(".btn-check").click(function () {
                $(this).toggleClass('active');
            });

            //取得購物車
            let result = GetProductFromCarBySession()

            //建立購物車畫面
            BuildCarView(result)

            //建立地址Select
            //GetProvinceList()
            BuildAddress()

        });

        //取得購物車
        function GetProductFromCarBySession(){
            let result = ""
            $.ajax({
                type:"Get",
                url:"@Url.Action("GetProductFromCarBySession","Session")",
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                dataType:"json",
                async:false,  //可能不好
                success:function(response){
                    console.log("已連上GetProductFromCarBySession, 目前購物車清單", response)
                    result = response
                },
                error:function(response){
                    console.log("找不到")
                }
            })
            return result;
        }

        //建立購物車畫面
        function BuildCarView(response){
            console.log("建立購物車", response)
            //清空購物車畫面
            $("#tbOrder").empty()

            let allProductTotalPrice = 0

            if(response != null){
                response.forEach(x =>{
                    //取得商品
                    let Product = GetProductById(x.productId)
                    
                    let SelectedSpecQuantity = Product.Inventory
                    
                    //全部價錢加總
                    allProductTotalPrice += x.subTotal

                    let trTbody = $(`<tr></tr>`)
                    trTbody
                        .append(`<td class="td-check">
                                    <a class="btn-check">
                                        <input type="checkbox" value="1"/><i class="icon-check"></i>
                                    </a>
                                </td>`)
                        .append(`<td class="td-prod">
                                    <img src="${Product["imgUrl"]}" alt="" class="td-photo" />
                                    <p class="td-name">${Product["cardName"]}</p>
                                </td>`)
                        .append(`<td class="td-price" data-th="單價"><span>${Product["price"]}</span></td>`)
                        .append(`<td class="td-count" data-th="">
                                    <div class="count-bar">
                                        <a class="btn-count" >
                                            <i class="minus circle icon" onclick="OrderNumChange()" data-symbol="minus" data-productid="${x.productId}" data-selectedspecquantity="${SelectedSpecQuantity}"></i>
                                        </a>
                                        <input class="CountInput" type="number" value="${x.amount}"/>
                                        <a class="btn-count">
                                            <i class="plus circle icon" onclick="OrderNumChange()" data-symbol="plus" data-productid="${x.productId}" data-selectedspecquantity="${SelectedSpecQuantity}"></i>
                                        </a>
                                    </div>
                                </td>`)
                        .append(`<td class="td-price" data-th="小計"><span>${x["subTotal"]}</span></td>`)
                        .append(`<td class="td-action">
                                    <a class="btn-delete">
                                        <i class="trash icon" onclick="DelProductfromCarBySession('${x.productId}')"></i>
                                    </a>
                                </td>`)
                    $("#tbOrder").append(trTbody)
                })
            }

            $("#lbTPrice").text(allProductTotalPrice)
        }

        //取得商品
        function GetProductById(productId){
            let data = false
            $.ajax({
                type:"Post",
                url:"@Url.Action("Product_Info","Product")",
                data:JSON.stringify({
                    'ProductId':productId
                }),
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                dataType:"json",
                async:false,  //可能不好
                success:function(response){
                    console.log("二次已連上GetProductById", response)
                    data = response.results[0]
                },
                error:function(response){
                    console.log("找不到")
                }
            })
            return data
        }

        function BuildAddress(){
            $("#twzipcode").twzipcode({
                zipcodeIntoDistrict: true, // 郵遞區號自動顯示在區別選單中
                css: ["city form-control", "town form-control"], // 自訂 "城市"、"地別" class 名稱 
                countyName: "city", // 自訂城市 select 標籤的 name 值
                districtName: "town" // 自訂區別 select 標籤的 name 值
            });
        }

         //將購物車內商品移除
        function DelProductfromCarBySession(productId){
            $.ajax({
                type:"Post",
                url:"@Url.Action("DelProductfromCarBySession","Session")",
                data:JSON.stringify({
                    'ProductId' : productId
                }),
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                success:function(){
                    //重構購物車
                    let result = GetProductFromCarBySession()
                    
                    BuildCarView(result)
                },
                error:function(response){
                    console.log("找不到")
                }
            })
        }

        //判定增減商品數量
        function OrderNumChange(){
            let $this = $(event.target)
            //符號, 商品id, 商品規格, 目前購物車內數量, 物品上限
            let symbol = $this.data("symbol")
            let productId = $this.data("productid")
            let countNow = parseInt($this.parent().siblings(".CountInput").val()) //用不到
            let quantity = $this.data("selectedspecquantity")  //用不到
            console.log("符號, 商品id, 商品規格, 目前購物車內數量, 物品上限", symbol, productId, countNow, quantity)

            //Debounce運用
            //先製作匿名func 在製作延遲時間 後放入使用位置
            let delFunc = function(){
                DelProductfromCarBySession(productId)
            }
            let updateFunc = function(){
                UpdateCart(productId, symbol)
            }

            let delDebounce = _.debounce(delFunc, 500)
            let updateDebounce = _.debounce(updateFunc, 500)
            //判斷+-
            countNow = (symbol == "plus") ? countNow + 1 : countNow -1
            //判斷結果做事
            if(countNow > quantity){
                return
            }
            else if(countNow == 0){
                $this.parent().siblings(".CountInput").attr("value", countNow)
                
                delDebounce()
            }
            else{
                $this.parent().siblings(".CountInput").attr("value", countNow)
                
                updateDebounce()
            }
        }

        //更新購物車單筆資料
        function UpdateCart(productId, symbol){
            $.ajax({
                type:"Post",
                url:"@Url.Action("PatchProductNumFromCarBySession","Session")",
                data:JSON.stringify({
                    'ProductId' : productId,
                    'Symbol':symbol
                }),
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                success:function(response){
                    //重構購物車
                    BuildCarView(response)
                },
                error:function(response){
                    console.log("找不到")
                }
            })
        }


    </script>


}