@page
@model AliveStoreTemplate.Pages.cartModel
@{
    ViewData["Title"] = "cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section HEAD{
    <style>
        .ico_cgpCount {
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(/img/ico_cgpCount.png);
            padding-left: 1em;
        }

        .ico_cgpTotal {
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(/img/ico_cgpBan.png);
            padding-left: 1em;
        }

        .td-price:before {
            content: "" !important;
        }
    </style>
}


@*cart 购物车*@
<article class="page cart">
    <div class="content-con">
        <h2 class="page-tit"><em>購物車</em><span>選購商品<em class="count spancc">3</em></span></h2>
        @*cart-recipient 收件资料*@
        <section class="forms-basic cart-recipient">
            <dl class="col2">
                <dt>收件人<em class="must">*</em></dt>
                <dd>
                    <input type="text" value="" id="inputRecipient" placeholder="请填入收件人姓名" />
                </dd>
                <dt>收件人手机号<em class="must">*</em></dt>
                <dd>
                    <input type="tel" value="" id="inputRecipientPhone" placeholder="请填入收件人手机号" />
                </dd>
            </dl>
            <dl>
                <dt>收件人地址<em class="must">*</em></dt>
                <dd>
                    <div id="post" class="citys">
                        <select class="ui dropdown" style="min-width:80px" name="province" onchange="GetCityList()" id="province">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="city" onchange="GetCountryList()" id="city">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="area" onchange="GetTownList()" id="area">
                            <option value="">請選擇</option>
                        </select>
                        <select class="ui dropdown" style="min-width:80px" name="town" onchange="BuildAddr()" id="town">
                            <option value="">請選擇</option>
                        </select>
                        @*<input class="form-control" type="text" id="addr" />*@
                        <input class="" type="text" value="" id="inputRecipientAddr" placeholder="请填入地址" />
                    </div>
                </dd>
                <dt>备注</dt>
                <dd>
                    <textarea name="" id="areaRemark" cols="0" rows="3" style="resize:none;height:200px"></textarea>
                </dd>
            </dl>
        </section>
        @*cart-order 订单资料*@
        <section class="cart-order">
            <table class="forms-basic tab-basic tab-cart">
                <thead>
                    <tr>
                        <th class="td-check">
                            <a class="btn-check">
                                <input id="clickAll" type="checkbox" /><i class="icon-check"></i>
                            </a>
                        </th>
                        <th class="td-prod">商品</th>
                        <th>單價</th>
                        <th class="td-count">數量</th>
                        <th>小計</th>
                        <th class="td-action">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbOrder">
                    
                </tbody>
            </table>
        </section>
        @*cart-total 总计*@
        <section class="cart-total">
            <table class="forms-basic tab-total">
                
                <tr>
                    <th>
                        <span class="td-item">总计</span>
                    </th>
                    <td class="td-total td-price">
                        <span class="ico_cgpTotal td-total" id="lbTPrice"></span>
                    </td>
                </tr>
            </table>
        </section>
        <section class="cart-action">
            <div style="color:red" id="noticeForPay">注意:你现在所见的币值不代表最终币值，请详细确认后再行下单；若欲使用CGP币以外货币结帐，总价须超过一定金额：</div>
            <select class="ui dropdown floating" style="width:250px" id="selectPayment" >
                <option value="" style="display:none">請選擇付款方式</option>
                <option value="CGP">CGP</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="SHIB" disabled>SHIB</option>
            </select>
        </section>
        @*<div class="ui teal buttons">
            <div class="ui button">請選擇付款方式</div>
            <div class="ui floating dropdown icon button" id="selectPayment" >
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="CGP"><i class="edit icon"></i>CGP</div>
                    <div class="item" data-value="BTC"><i class="edit icon"></i>BTC</div>
                    <div class="item" data-value="ETH"><i class="edit icon"></i>ETH</div>
                    <div class="item" data-value="USDT"><i class="edit icon"></i>USDT</div>
                    <div class="item" data-value="SHIB" disabled><i class="edit icon"></i>SHIB</div>
                </div>
            </div>
        </div>*@
        <section class="cart-action">
            <a class="btn-action" onclick="PlaceOrder()">我要结算</a>
        </section>
    </div>
</article>


@section FOOTER{

    @*pgaeJs*@
    <script type="text/javascript">
        $(function () {
            // 全选
            $(".btn-check").click(function () {
                $(this).toggleClass('active');
            });

            //取得購物車
            let result = GetProductFromCarBySession()

            //建立購物車畫面
            BuildCarView(result)

            //建立地址Select
            //GetProvinceList()
        });

        //取得購物車
        function GetProductFromCarBySession(){
            let result = ""
            $.ajax({
                type:"Get",
                url:"@Url.Action("GetProductFromCarBySession","Session")",
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                dataType:"json",
                async:false,  //可能不好
                success:function(response){
                    console.log("已連上GetProductFromCarBySession, 目前購物車清單", response)
                    result = response
                },
                error:function(response){
                    console.log("找不到")
                }
            })
            return result;
        }

        //建立購物車畫面
        function BuildCarView(response){
            console.log("建立購物車", response)
            $("#tbOrder").empty()

            let allProductTotalPrice = 0

            if(response != null){
                response.forEach(x =>{
                    //取得商品
                    let Product = GetProductById(x.productId)
                    
                    let SelectedSpecQuantity = Product.Inventory
                    
                    //全部價錢加總
                    allProductTotalPrice += x.subTotal

                    //console.log("二次Ajax", x, Product, ProductSpec, SelectedSpec, productSpecId)

                    let trTbody = $(`<tr></tr>`)
                    trTbody
                        .append(`<td class="td-check">
                                    <a class="btn-check">
                                        <input type="checkbox" value="1"/><i class="icon-check"></i>
                                    </a>
                                </td>`)
                        .append(`<td class="td-prod">
                                    <img src="${Product["imgUrl"]}" alt="" class="td-photo" />
                                    <p class="td-name">${Product["cardName"]}</p>
                                </td>`)
                        .append(`<td class="td-price" data-th="單價"><span>${Product["price"]}</span></td>`)
                        .append(`<td class="td-count" data-th="">
                                    <div class="count-bar">
                                        <a class="btn-count" >
                                            <i class="minus circle icon" onclick="OrderNumChange()" data-symbol="minus" data-productid="${x.productId}" data-selectedspecquantity="${SelectedSpecQuantity}"></i>
                                        </a>
                                        <input class="CountInput" type="number" value="${x.amount}"/>
                                        <a class="btn-count">
                                            <i class="plus circle icon" onclick="OrderNumChange()" data-symbol="plus" data-productid="${x.productId}" data-selectedspecquantity="${SelectedSpecQuantity}"></i>
                                        </a>
                                    </div>
                                </td>`)
                        .append(`<td class="td-price" data-th="小計"><span>${x["subTotal"]}</span></td>`)
                        .append(`<td class="td-action">
                                    <a class="btn-delete">
                                        <i class="trash icon" onclick="DelProductfromCarBySession('${x.productId}')"></i>
                                    </a>
                                </td>`)
                    $("#tbOrder").append(trTbody)
                })
            }

            $("#lbTPrice").text(allProductTotalPrice)
        }

        //取得商品
        function GetProductById(productId){
            let data = false
            $.ajax({
                type:"Post",
                url:"@Url.Action("Product_Info","Product")",
                data:JSON.stringify({
                    'ProductId':productId
                }),
                processData : false, 
                contentType : 'application/json;charset=UTF-8',
                dataType:"json",
                async:false,  //可能不好
                success:function(response){
                    console.log("二次已連上GetProductById", response)
                    data = response.results[0]
                },
                error:function(response){
                    console.log("找不到")
                }
            })
            return data
        }

        ////取得縣市
        //function GetProvinceList(){
        //    $.ajax({
        //        type:"Get",
        //        url:"https://localhost:44302/api/Order/GetProvinceList",
        //        processData : false, 
        //        contentType : 'application/json;charset=UTF-8',
        //        dataType:"json",
        //        success:function(response){
        //            console.log("二次已連上GetProvinceList", response)

        //            response.forEach(x =>{
        //                $("#province").append(`<option value="${x["id"]}" >${x["name"]}</option>`)
        //            })
        //        },
        //        error:function(response){
        //            console.log("找不到")
        //        }
        //    })
        //}

        ////取得城鎮鄉鎮
        //function GetCityList(){
        //    let province = $("#province").val()
        //    $.ajax({
        //        type:"Get",
        //        url:"https://localhost:44302/api/Order/GetCityList?lastLevelId=" + province,
        //        processData : false, 
        //        contentType : 'application/json;charset=UTF-8',
        //        dataType:"json",
        //        success:function(response){
        //            console.log("二次已連上GetCityList", response)
        //            let option = (`<option value="">請選擇</option>`)
        //            $("#city").empty();
        //            $("#city").append(option)
        //            $("#area").empty();
        //            $("#area").append(option)
        //            $("#town").empty()
        //            $("#town").append(option)

        //            response.forEach(x =>{
        //                $("#city").append(`<option value="${x["id"]}" >${x["name"]}</option>`)
        //            })
        //        },
        //        error:function(response){
        //            console.log("找不到")
        //        }
        //    })
        //}

        ////取得地區
        //function GetCountryList(){
        //    let city = $("#city").val()
        //    $.ajax({
        //        type:"Get",
        //        url:"https://localhost:44302/api/Order/GetCountyList?lastLevelId=" + city,
        //        processData : false, 
        //        contentType : 'application/json;charset=UTF-8',
        //        dataType:"json",
        //        success:function(response){
        //            console.log("二次已連上GetCountyList", response)
        //            let option = (`<option value="">請選擇</option>`)
        //            $("#area").empty();
        //            $("#area").append(option)
        //            $("#town").empty()
        //            $("#town").append(option)

        //            response.forEach(x =>{
        //                $("#area").append(`<option value="${x["id"]}" >${x["name"]}</option>`)
        //            })
        //        },
        //        error:function(response){
        //            console.log("找不到")
        //        }
        //    })
        //}
        
        ////取得路名
        //function GetTownList(){
        //    let area = $("#area").val()
        //    $.ajax({
        //        type:"Get",
        //        url:"https://localhost:44302/api/Order/GetTownList?lastLevelId=" + area,
        //        processData : false, 
        //        contentType : 'application/json;charset=UTF-8',
        //        dataType:"json",
        //        success:function(response){
        //            console.log("二次已連上GetTownList", response)
        //            let option = (`<option value="">請選擇</option>`)
        //            $("#town").empty()
        //            $("#town").append(option)

        //            response.forEach(x =>{
        //                $("#town").append(`<option value="${x["id"]}" >${x["name"]}</option>`)
        //            })

        //            //自動輸入
        //            $("#inputRecipientAddr").val($("#area  option:selected").text())
        //        },
        //        error:function(response){
        //            console.log("找不到")
        //        }
        //    })
        //}

        ////地址完成後改變input
        //function BuildAddr(){
        //    let area = $("#area option:selected").text()
        //    let town = $("#town  option:selected").text()
        //    //自動輸入
        //    $("#inputRecipientAddr").val(area + town)

        //    console.log("地址建立完成", $("#province option:selected").text(), $("#city option:selected").text(), $("#area option:selected").text(), $("#town option:selected").text())
        //}


    </script>


}