@page
@model AliveStoreTemplate.Pages.inquireModel
@{
    ViewData["Title"] = "inquire";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
  @*inquire 订单查询*@
<article class="page inquire">
    <div class="content-con">
        <h2 class="page-tit"><em>訂單查詢</em><span>查詢你的訂單</span></h2>
        <section class="forms-basic inquire-form">
            <p>
                <input type="tel" value="" placeholder="請輸入手機號碼" id="phone" runat="server" />
            </p>
            <p class="inquire-action">
                <a onclick="goOrder()" class="btn-active">查詢</a>
            </p>
        </section>
    </div>
</article>

<script>
    
    $(function(){

    })

    function goOrder(){
        let phoneNo = $("#phone").val()
        window.location.href = "order?phoneNo="+phoneNo
    }

</script>